<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <h2>Cadastro de Treino</h2>

        <form>

            <div class="mb-2">
                <input class="fomr-control" type="text" id="exercício" name="exercício" placeholder="Exercício">
            </div>

            <div class="mb-2">
                <input class="fomr-control" type="number" id="repetições" name="repetições" placeholder="Número de Repetições">
            </div>

            <div class="mb-2">
                <input class="fomr-control" type="number" id="series" name="series" placeholder="Número de Séries">
            </div>

            <div class="mb-2">
                <input class="fomr-control" type="text" id="peso" name="peso" placeholder="Peso">
            </div>

            <div class="mb-2">
                <input class="fomr-control" type="text" id="descanso" name="descanso" placeholder="Tempo de Descanso">
            </div>

            <div class="mb-2">
                <input class="fomr-control" type="text" id="modalidade" name="modalidade" placeholder="Maquina ou Livre?">
            </div>

            <div class="mb-2">

                <select class="form-select" aria-label="Default select example">
                    <option selected value="">Selecione o Grupo Muscular</option>
                    <option value="Ombro">Ombro</option>
                    <option value="Peito">Peito</option>
                    <option value="Costas">Costas</option>
                    <option value="Braços">Biceps/Triceps</option>
                    <option value="Quadriceps">Quadriceps</option>
                    <option value="Posterior">Posterior</option>
                    <option value="Barriga">Abdominal</option>
                </select>

            </div>

            <button type="submit" class="dtn dtn-primary">Cadastrar Treino</button>


        </form>

    </div>

</body>
</html>